<div class="container">
  <h2>FAQ</h2>
  <div>
    <div class="col-md-12" *ngIf="visListe">
      <div *ngIf="laster">Laster FAQs</div>
      <table class="table table-bordered table-condensed">
        <thead>
          <tr>
            <th>Spørsmål</th>
            <th>Svar</th>
            <th>Kategori</th>
            <th>Antall tomler</th>
          </tr>
        </thead>
        <tbody *ngFor="let faq of alleFAQs">
          <tr>
            <td>{{faq.question}}</td>
            <td>{{faq.answer}}</td>
            <td>{{faq.category}}</td>
            <td>{{faq.thumbs}}</td>
            <td><button class="btn btn-success" (click)="giTommelOpp(faq.id)">Tommel opp</button></td>
            <td><button class="btn btn-danger" (click)="giTommelNed()">Tommel ned</button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="container">
  <div class="col-md-4">
    <form [formGroup]="skjema" (ngSubmit)="vedSubmit()">
      <input class="form-control" formControlName="id" type="hidden" />
      <div class="form-group">
        <label>Still spm</label>
        <input class="form-control" formControlName="spm" />
      </div>
      <div class="form-group">
        <label>Kategori</label>
        <input class="form-control" formControlName="kategori" />
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-primary" (click)="leggTilSpm()">Still spm</button>
      </div>
    </form>
  </div>
</div>
