<div class="container">
  <h1>Frequently Asked Questions</h1>
  <div class="card">

    <!-- Generelle spørsmål -->
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="generellSpm=true; avgangSpm=false; stasjonSpm=false; bestillingSpm=false; ubesvartSpm=false; stilleSpm=false; clicked=false;" (dblclick)="generellSpm=false;">
          Generelle spørsmål
        </button>
      </h5>
    </div>
    <div class="card-body" *ngIf="generellSpm">
      <div *ngFor="let faq of alleFAQs">
        <div *ngIf="faq.category == 'Generell'">
          <div *ngIf="faq.answer != ''">
            <p>{{faq.question}}</p>
            <p style="font-weight: bold;">{{faq.answer}}</p>
            <p>+: {{faq.thumbsUp}}</p>
            <p>-: {{faq.thumbsDown}}</p>
            <button class="btn btn-success" (click)="endreTommelOpp(faq.id, faq.question, faq.answer, faq.cid, faq.category, faq.thumbsUp, faq.thumbsDown)" [disabled]="clicked">Tommel opp</button>
            <button class="btn btn-danger" (click)="endreTommelNed(faq.id, faq.question, faq.answer, faq.cid, faq.category, faq.thumbsUp, faq.thumbsDown)" [disabled]="clicked">Tommel ned</button>
            <hr />
          </div>
        </div>
      </div>
    </div>

    <!-- Spørsmål om avgang -->
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="generellSpm=false; avgangSpm=true; stasjonSpm=false; bestillingSpm=false; ubesvartSpm=false; stilleSpm=false; clicked=false" (dblclick)="avgangSpm=false;">
          Avgang spørsmål
        </button>
      </h5>
    </div>
    <div class="card-body" *ngIf="avgangSpm">
      <div *ngFor="let faq of alleFAQs">
        <div *ngIf="faq.category == 'Avgang'">
          <div *ngIf="faq.answer != NULL">
            <p>{{faq.question}}</p>
            <p style="font-weight: bold;">{{faq.answer}}</p>
            <p>+: {{faq.thumbsUp}}</p>
            <p>-: {{faq.thumbsDown}}</p>
            <button class="btn btn-success" (click)="endreTommelOpp(faq.id, faq.question, faq.answer, faq.cid, faq.category, faq.thumbsUp, faq.thumbsDown)" [disabled]="clicked">Tommel opp</button>
            <button class="btn btn-danger" (click)="endreTommelNed(faq.id, faq.question, faq.answer, faq.cid, faq.category, faq.thumbsUp, faq.thumbsDown)" [disabled]="clicked">Tommel ned</button>
            <hr />
          </div>
        </div>
      </div>
    </div>

    <!-- Spørsmål om stasjoner -->
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="generellSpm=false; avgangSpm=false; stasjonSpm=true; bestillingSpm=false; ubesvartSpm=false; stilleSpm=false; clicked=false" (dblclick)="stasjonSpm=false;">
          Stasjon spørsmål
        </button>
      </h5>
    </div>
    <div class="card-body" *ngIf="stasjonSpm">
      <div *ngFor="let faq of alleFAQs">
        <div *ngIf="faq.category == 'Stasjon'">
          <div *ngIf="faq.answer != NULL">
            <p>{{faq.question}}</p>
            <p style="font-weight: bold;">{{faq.answer}}</p>
            <p>+: {{faq.thumbsUp}}</p>
            <p>-: {{faq.thumbsDown}}</p>
            <button class="btn btn-success" (click)="endreTommelOpp(faq.id, faq.question, faq.answer, faq.cid, faq.category, faq.thumbsUp, faq.thumbsDown)" [disabled]="clicked">Tommel opp</button>
            <button class="btn btn-danger" (click)="endreTommelNed(faq.id, faq.question, faq.answer, faq.cid, faq.category, faq.thumbsUp, faq.thumbsDown)" [disabled]="clicked">Tommel ned</button>
            <hr />
          </div>
        </div>
      </div>
    </div>

    <!-- Spørsmål om bestilling -->
    <div class="card-header">
      <h5 class="mb-0">
        <button class="btn btn-link" (click)="generellSpm=false; avgangSpm=false; stasjonSpm=false; bestillingSpm=true; ubesvartSpm=false; stilleSpm=false; clicked=false" (dblclick)="bestillingSpm=false;">
          Bestilling spørsmål
        </button>
      </h5>
    </div>
    <div class="card-body" *ngIf="bestillingSpm">
      <div *ngFor="let faq of alleFAQs">
        <div *ngIf="faq.category == 'Bestilling'">
          <div *ngIf="faq.answer != NULL">
            <p>{{faq.question}}</p>
            <p style="font-weight: bold;">{{faq.answer}}</p>
            <p>+: {{faq.thumbsUp}}</p>
            <p>-: {{faq.thumbsDown}}</p>
            <button class="btn btn-success" (click)="endreTommelOpp(faq.id, faq.question, faq.answer, faq.cid, faq.category, faq.thumbsUp, faq.thumbsDown)" [disabled]="clicked">Tommel opp</button>
            <button class="btn btn-danger" (click)="endreTommelNed(faq.id, faq.question, faq.answer, faq.cid, faq.category, faq.thumbsUp, faq.thumbsDown)" [disabled]="clicked">Tommel ned</button>
            <hr />
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ubesvarte spørsmål -->
  <div class="card-header">
    <h5 class="mb-0">
      <button class="btn btn-link" (click)="generellSpm=false; avgangSpm=false; stasjonSpm=false; bestillingSpm=false; ubesvartSpm=true; stilleSpm=false; clicked=false" (dblclick)="ubesvartSpm=false;">
        Ubesvarte spørsmål
      </button>
    </h5>
  </div>
  <div class="card-body" *ngIf="ubesvartSpm">
    <div *ngFor="let faq of alleFAQs">
      <div *ngIf="faq.answer == ''">
        <p>{{faq.question}}</p>
        <p>Kategori: <label style="font-weight: bold">{{faq.category}}</label></p>
        <hr />
      </div>
    </div>
  </div>

  <!-- Still spørsmål-->
  <div class="card-header">
    <h5 class="mb-0">
      <button class="btn btn-link" (click)="generellSpm=false; avgangSpm=false; stasjonSpm=false; bestillingSpm=false; ubesvartSpm=false; stilleSpm=true; clicked=false; clearInput()" (dblclick)="stilleSpm=false;">
        Still spørsmål
      </button>
    </h5>
  </div>
  <div class="card-body" *ngIf="stilleSpm">
    <h1>Still nytt spørsmål</h1>
    <div class="col-md-4">
      <form [formGroup]="skjema" (ngSubmit)="leggTilSpm()">
        <div class="form-group">
          <label>Still spm</label>
          <textarea class="form-control" formControlName="spm"></textarea>
          <p class="alert alert-warning" [hidden]="skjema.controls.spm.valid">
            Spørsmålet er ikke mellom 10 og 500 tegn eller inneholder ugyldige tegn!
          </p>
        </div>

        <div class="form-group">
          <button type="submit" class="btn btn-primary" [disabled]="!skjema.valid">Still spm</button>
        </div>
      </form>
    </div>
  </div>
</div>
